body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #36393f;
    text-decoration-color: #6175bb;
}

::selection {
    color: #aaa69d;
    background: #333;
}

#message-container {
    transition-duration: 0.4s;
    width: 80%;
    max-width: 1200px;
    
}

#message-container div { 
    color: #ecf0f1;
    background-color: #7289da;
    border-radius: 7px;
    padding-left: 2%;
    padding-top: 15px;
    font-size: 1.2rem;
    height: 40px;
    margin-top: 7px;
}

#message-container div:nth-child(2n) {
    background-color:#202225;
    color: #ecf0f1;
}

#send-container {
    position: fixed;
    padding-bottom: 30px;
    bottom: 0;
    max-width: 1200px;
    width: 80%;
    display: flex;  
}

#message-input {
    padding-left: 2%;
    flex-grow: 1;
    height: 50px;
    margin-right: 10px;
    background-color: #40444b;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1.3rem;
    color: #ecf0f1;
}

button{
    transition-duration: 0.4s;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    width: 100px;
    margin-left: 5px;
    border: 1px solid transparent;
    background: #7289da;
    color: #ecf0f1;
    font-size: 1.5rem;
    outline: none;
    border-radius: 7px;
}

button:hover{
    transition-duration: 0.4s;
    background-color: #ecf0f1;
    color: #7289da;
}